
<div *ngIf="rfbEventAttendance">
    <h2><span jhiTranslate="rfbApp.rfbEventAttendance.detail.title">Rfb Event Attendance</span> {{rfbEventAttendance.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rfbApp.rfbEventAttendance.attendanceDate">Attendance Date</span></dt>
        <dd>
            <span>{{rfbEventAttendance.attendanceDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="rfbApp.rfbEventAttendance.rfbEvent">Rfb Event</span></dt>
        <dd>
            <div *ngIf="rfbEventAttendance.rfbEventDTO.id">
                <a [routerLink]="['/rfb-event', rfbEventAttendance.rfbEventDTO.id]">{{rfbEventAttendance.rfbEventDTO.rfbLocationDTO.locationName}} : {{ rfbEventAttendance.attendanceDate | date }}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="rfbApp.rfbEventAttendance.rfbUser">Rfb User</span></dt>
        <dd>
            <div *ngIf="rfbEventAttendance.rfbUserDTO.id">
                <a [routerLink]="['/rfb-user', rfbEventAttendance.rfbUserDTO.id]">{{rfbEventAttendance.rfbUserDTO.userDTO.login}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rfb-event-attendance/'+ rfbEventAttendance.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
