
<div *ngIf="rfbUser">
    <h2><span jhiTranslate="rfbApp.rfbUser.detail.title">Rfb User</span> {{rfbUser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rfbApp.rfbUser.userName">User Name</span></dt>
        <dd>
            <span>{{rfbUser.userName}}</span>
        </dd>
        <dt><span jhiTranslate="rfbApp.rfbUser.homeLocation">Home Location</span></dt>
        <dd>
            <div *ngIf="rfbUser.homeLocationId">
                <a [routerLink]="['/rfb-location', rfbUser.homeLocationId]">{{rfbUser.homeLocationId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="rfbApp.rfbUser.user">User</span></dt>
        <dd>
            {{rfbUser.userId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rfb-user/'+ rfbUser.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
