<div>
    <h2>
        <span jhiTranslate="rfbApp.rfbUser.home.title">Rfb Users</span>
        <button class="btn btn-primary float-right jh-create-entity create-rfb-user" [routerLink]="['/', { outlets: { popup: ['rfb-user-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rfbApp.rfbUser.home.createLabel">
            Create new Rfb User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="rfbUsers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="rfbApp.rfbUser.userName">User Name</span></th>
            <th><span jhiTranslate="rfbApp.rfbUser.homeLocation">Home Location</span></th>
            <th><span jhiTranslate="rfbApp.rfbUser.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rfbUser of rfbUsers ;trackBy: trackId">
                <td><a [routerLink]="['../rfb-user', rfbUser.id ]">{{rfbUser.id}}</a></td>
                <td>{{rfbUser.userName}}</td>
                <td>
                    <div *ngIf="rfbUser.rfbLocationDTO">
                        <a [routerLink]="['../rfb-location', rfbUser.rfbLocationDTO.id]" >{{rfbUser.rfbLocationDTO.locationName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rfbUser.userDTO">
                        <a [routerLink]="['/user-management', rfbUser.userDTO.login]">{{rfbUser.userDTO.login}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../rfb-user', rfbUser.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rfb-user/'+ rfbUser.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rfb-user/'+ rfbUser.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
